<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rap Attack</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/the-big-picture.css" rel="stylesheet">

</head>

<body>


<div class="jumbotron vertical-center">
                      
        <div>
            <center>
            <h1>RAPPER ATTACK!</h1>
            <p class="lead"></p>
            </center>
        </div>
 
        <div class="row marketing">
            <div class="offset 2 col-lg-4">
                <center>

                    <div class="form-style-2-heading">Provide your linkification!</div>
                    <form action="/rap_lyrics" method='POST' width='300px'>
                    <label for="field1"><span>  GENIUS: </span><input type="text" class="input-field" name="user_input" /></label>
                    <label><span>&nbsp;</span><input type="submit"/>
                    </label>
                    </form>
                    </div>

                </center>
            <div class='col-lg-6'>
            <center>
            </br>
            </br>

                Please submit a link to your favorite Genius.com Rap Lyrics and We'll Make it more Appropriate for You!!!!
            </center>

            </div>
        </div>
</div>

    
</body>

</html>
